*.o
*.elf
*.map
*.d
*.bin
*.pem
**/*.X/debug
**/*.X/dist
**/*.X/build
**/*.X/.generated_files
**/*.IAR/Debug
**/*.IAR/settings
**/*.IAR/*.dep
**/*.IAR/*.custom_argvars
**/*.KEIL/Objects
**/*.KEIL/*.uvguix.*
Gemfile*
/SAME51_BLE_CAN_Sniffer/firmware/sam_e51_cnano_rnbd451.X/build/
/SAME51_BLE_CAN_Snifferfirmware/sam_e51_cnano_rnbd451.X/dist/
